* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #edf2f8;
  font-size: 13px;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
}

/* container */
.container__grid {
  max-width: 1440px;
  margin: 100px 0px;
  padding: 0px 75px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: flex-start; /* use this if you want to make each card with unique size */
  gap: 20px;
  color: #edf2f8;
}
@media (max-width: 650px) {
  .container__grid {
    margin: 50px 0px;
    padding: 0px 25px;
    display: flex;
    flex-direction: column;
    color: #edf2f8;
  }
}

/* card */
.card {
  padding: 20px;
  border-radius: 5px;
}
.card:nth-of-type(1) {
  grid-column: 1 / span 2;
}
.card:nth-of-type(5) {
  grid-column: 2 / span 2;
}
.card:nth-of-type(3) {
  grid-column: 4;
  grid-row: 1 / span 2;
}

/* card components */
.card--img {
  width: 30px;
  border-radius: 50%;
  margin-right: 15px;
}
.card--content {
  display: flex;
  align-items: center;
  justify-content: start;
}
.card--profile > h5 {
  opacity: 50%;
}
.card--review > p {
  padding-top: 20px;
}
.card--review > p > q {
  opacity: 70%;
}

/* utility classes */
.bg-purple {
  background-color: hsl(263, 55%, 52%);
}
.bg-grayish-blue {
  background-color: hsl(217, 19%, 35%);
}
.bg-white {
  background-color: hsl(0, 0%, 100%);
  color: #18202d;
}
.bg-blackish-blue {
  background-color: hsl(219, 29%, 14%);
}
.bg-quote {
  background-image: url("/Testimonials/images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position-x: 80%;
}
.bd-purple {
  border: 2px solid hsl(263, 55%, 52%);
}
.bd-grayish-blue {
  border: 2px solid hsl(217, 19%, 35%);
}
.bd-white {
  border: 2px solid hsl(0, 0%, 100%);
}
.bd-blackish-blue {
  border: 2px solid hsl(219, 29%, 14%);
}
.preview {
  font-size: large;
  line-height: 1.3;
}
